.parent{
    width:500px;
    height: 500px;
    background-color: aquamarine;
}
.child{
    background-color: rebeccapurple;
    height: 50%;
    width: 50%;
    transition: transform 1s ease-in forwards;
}
.parent:hover .child{
    transform: translateX(100%);
    animation: left-to-right 1s ease-in;
}
@keyframes left-to-right{
    0%{
        transform: translateX(0%);
    }100%{
    transform: translateX(100%);
}

}
.element{
    height: 250px;
    width: 250px;
    background-color: greenyellow;
    margin: 0 auto;
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}