* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
h4{
  font-size: 20px;
  color:rgb(217, 217, 217);
}
p{
  overflow-wrap: anywhere;
  padding-top: 20 px;
  color: rgba(65, 63, 62, 0.589);
  line-height: 150%;
  margin: 0;
}
.container {
  width: 100%;
  height: 60%;
  display: flex;
  padding-left: 10px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.flex-item-right {
  align-items: right;
  flex: 50%;
  font-size: 1em;
  color: rgba(65, 63, 62, 0.589);
  
}

.flex-item-left {
  align-items: left;
  flex: 50%;
}

.column {
  float: left;

  width: 33.33%;

  height: 300px;
  align-items: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img1 {
  width:  45vw;
  height: 70%;
}
.img2 {
  width: 45vw;
  height: 65%;
  padding-top: 16vh;
}
h2{
  text-align: center;
  color: white;
}